.container {
  text-align: center;
  background-color: #f5e7dbc2;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.profilePicture {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border-width: 2px;
  border-color: black;
  pointer-events: none;
  margin-bottom: 15%;
  margin-top: 15%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3f3f3f;
}

.text {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.lineContainer {
  margin-top: 10%;
  margin-bottom: 10%;
}

.iconsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 25px;
  margin-top: 15%;
  margin-bottom: 15%;
}

svg:hover {
  fill: #d24d4d;
  cursor: pointer;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

.pop {
  position: absolute;
  margin-top: 40px;
  background-color: #d24d4d;
  color: bisque;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.highlight {
  color: #d24d4d;
}
